body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
.centered {
  width: 80%;
  margin: 0 auto;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.nav_name {
  color: gold;
}
.menu {
  width: 80%;
  padding-left: 25%;
  display: flex;
  align-items: center;
}
.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  margin: 0 10px;
}
.menu ul li a {
  text-decoration: none;
}
.main {
  margin-top: 40px;
  background-image: url("./assets/GettyImages-1418210625.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.main_container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.main_txt {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}
.skills_section,
.footer_stats_section {
  background-color: #000080;
  width: 100%;
  height: 200px;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  text-align: center;
}
.line {
  background-color: rgb(0, 98, 255);
  width: 4px;
  height: 80%;
}
.test_txt {
  text-align: center;
}
img:hover {
  cursor: pointer;
}
.about_me .centered {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.img_wrapper,
.txt_wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

footer .skills_section {
  height: 150px;
}
.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
}
